* {
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100px;
}
a {
    color: rgb(86, 210, 241);
    text-decoration: none;
}
p, a {
    font-size: 12px;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 16px;
}
ul li{
    list-style-type: square;
    color: rgb(0, 0, 100)
}
